
.container{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:750px){
    .app-container{
        height: auto;
    }
}


